# Python cache files
__pycache__/
*.py[cod]

# Environment variables file
.env

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files and folders
.cache/
.results/
.logs/
.secrets/
output.log

# This is the repomix genarated file that
# is contains the whole repo content for
# submitting to AIs, like Claude
pipeline-zen.txt

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
