# These three are installed separatelly in the Dockerfile
# but we're including them here to allow installing locally
torch
torchvision
transformers

# GCP libs
google-cloud-bigquery
google-cloud-storage

# ML libs
numpy
datasets
segmentation_models_pytorch

# Other libs
xmltodict
