# These three are installed separatelly in the Dockerfile
# torch
# torchvision
# transformers
# datasets
# segmentation_models_pytorch

# GCP libs
google-cloud-bigquery
google-cloud-storage
google-cloud-pubsub

# ML libs
numpy

# Other libs
xmltodict
pyyaml  # TODO: replace with omegaconf
omegaconf