# These three are installed separatelly in the Dockerfile
# torch
# torchvision
# transformers

# GCP libs
google-cloud-bigquery
google-cloud-storage
google-cloud-pubsub

# ML libs
numpy
datasets
segmentation_models_pytorch

# Other libs
xmltodict
pyyaml  # TODO: replace with omegaconf
omegaconf