# We need torchtune==0.2.0 but it's not released yet,
# so we install it from the master branch of the git repository
git+https://github.com/pytorch/torchtune.git@59d36e633ed9f1055f08498805df2ea0486657c2